
/* index.html */
.container-fluid{
    width: 85%;
}

.container-main{
    background-color: rgb(235, 235, 235);
}


.navbar-brand span, .carousel-caption span{
    font-weight: bold;
    color: #2bae66ff;
}


.navbar{
    height: 70px;
}
.navbar-collapse{
    z-index: 999;
}


.bg-primary, .btn-primary{
    background-color: #2bae66ff !important;
}

/* index.html */

.carousel-inner img{
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 50% 45%;
}

.show--offer{
    width: 100%;
}

.modal--product{
    display: flex;
}

.modal--product .item--modal{
    width: 100%;
}

.modal--product .item--image{
    width: 80%;
}


.carousel-caption{
    background-color: rgba(255, 255, 255, 0.85);
}

.card-body span{
    font-weight: bold;
}

.img-thumbnail{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.search--items{
    height: 100px;
    width: 100% !important;
    padding: 0;
    background-color: #F2F4F5;
}

.search--items form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search--items form input{
    border: 0;
}

.search-item input{
    background-color: unset;
    font-weight: 600;

}

.search-item:hover{
    cursor: pointer;
    background-color: #2bae66ff !important;
    transition: all .4s ease-in;
}

.warning{
    background-color: #dc3545 !important;
    color: white !important;
}

.warning::placeholder{
    color: white !important;
}


.input-container{
    background-color: white;
    padding: 1em;
}

.input-container:not(:last-of-type){
    border-right: .5px solid rgba(165, 165, 165, 0.342);
}

.filtered{
    display: none;
}

.user--account{
    background-color: #2bae66ff;
    width: 100%;
    height: 70px;
}

.myacc-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

.myacc-container > *{
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.user--account .nav-link{
    color: white;
}

@media screen and (max-width: 992px) {
    .carousel-inner img{
        height: 300px;
    }

}

@media screen and (max-width:768px){
    .search--items{
        height: unset;
    }
    .search--items form{
        display: flex;
        flex-direction: column;
    }
    .search--items form input{
        width: 100%;
    }

    .search-item{
        width: 100%;
    }

    .input-container:not(:last-of-type){
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .input-container:not(:last-of-type){
        border-bottom: .2px solid rgb(196, 196, 196);
    }
}

@media screen and (min-width: 375px){
    .navbar-brand.mob{
        display: none;
    }
}

@media screen and (max-width: 375px){
    .navbar-brand.desk{
        display: none;
    }
    .navbar-brand.mob{
        display: block;
    }
}

/* home.html */
.form-group.row{
    padding: .5em;
}

/* for delete modal */
.delete-content{
    display: flex;
}

.delete-content .product-desc {
    padding: .5em;
    width: 100%;
}

.delete-content .product-img{
    width: 40%;
}